body {
    font-size: 0;
    background: #eee;
}

.container {
    width: 800px;
    height: 500px;
    position: relative;
    background: #fff;
}

.container__clear-button {
    position: absolute;
    width: 50px;
    height: 30px;
    top: 10px;
    left: 30px;
    border: 2px dashed darkred;
    border-radius: 3px;
    background: #fff;
    outline: none;
}

.container__header,
.container__row {
    width: 100%;
}
.container__header {
    height: 50px;
    text-align: right;
}

.container__row {
    height: 225px;
    display: flex;
}

.container__title {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    background: #fff;
}

.container__title--horizontal {
    height: 100%;
    width: 370px;
} 

.container__title--vertical {
    height: 225px;
    width: 50px;
    display: flex;
    align-items: center;
}

.vertical-text {
    position: absolute;
    transform: rotate(-90deg);
}

.vertical-text--not-important {
    left: -53px;
}

.vertical-text--important {
    left: -30px;
}

.horizontal-text {
    position: relative;
    top: 15px;
}

.container__quadrant {
  position: relative;
  height: 100%;
  width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks-area {
  list-style: none;
  width: 96%;
  height: 95%;
  border: 2px dashed #eee;
  overflow-y: overlay;       
}

.add-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px dashed rgba(74, 217, 236, 0.534);
  border-radius: 20px;
  opacity: 0;
/* animation */
  transition: opacity .3s ease,
              background .3s ease,
              border .3s ease;

}

.add-button:hover {
  background: rgba(74, 217, 236, 0.281);
  border: 2px solid rgba(74, 217, 236, 0.281);
}
/* 
.button {
  position: absolute;
  opacity: 0;
  transition: opacity .3s ease;
} */

.q-0 {
  right: 10px;
  bottom: 10px;
}

.q-1 {
  left: 10px;
  bottom: 10px;
}

.q-2 {
  right: 10px;
  top: 10px;
}

.q-3 {
  left: 10px;
  z-index: 100;
  top: 10px;
}

/* .container__quadrant:hover .button {
  opacity: 1;
} */
 
.container__quadrant:hover .add-button {
  opacity: 1;
} 

.task {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    margin-left: 10px;
    /*background: rgb(179, 232, 250);*/
    color: #000;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #a2eb98;
    padding: 0 5px 0 5px;
    border-radius: 3px;
    text-align: center;
}

.task-container {
    position: relative;
}

.edit-input {
    position: absolute;
    top:5px;
    left:5px;
    width: 90%;
    border: none;
    outline: none;
}